<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Directives Exercise</h1>
                <button v-myon:click="clicked" class="btn btn-primary">Press button</button>
                <!-- Exercise -->
                <!-- Build a Custom Directive which works like v-on (Listen for Events) -->
                <hr>
                <div 
                v-customOn:mouseenter="mouseEnter"
                v-customOn:mouseleave="mouseLeave"
                style="width: 100px; height: 100px; background-color: lightgreen"></div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        directives: {
            /* my result
            'myon' : {
                bind(el, binding) {
                    
                    el.addEventListener(binding.arg, () => {
                        let text = 'other random text here from directive';
                        alert(text);
                    })
                }
            }*/
            //max result
            'myon' : {
                bind(el, binding) {
                    /*
                    el.onclick = function() {
                        binding.value();
                    }*/
                    const type = binding.arg;
                    const fn = binding.value;
                    el.addEventListener(type, fn);
                }
            },
            'customOn': {
                bind(el, binding) {
                    const type = binding.arg;
                    const fn = binding.value;
                    el.addEventListener(type, fn);
                }
            }
            
        },
        methods: {
                clicked() {
                    alert('I was clicked');
                },
                mouseEnter() {
                    console.log('mouse entered!');
                },
                mouseLeave() {
                    console.log('mouse left!');
                }
            }
    }
</script>

<style>
</style>
