<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Http</h1>
                <div class="from-group">
                    <label for="">Username</label>
                    <input type="text" class="from-control" v-model="user.username">
                </div>
                <div class="from-group">
                    <label for="">Mail</label>
                    <input type="text" class="from-control" v-model="user.email">
                </div>
                <button class="btn btn-primary" @click="submit">Submit</button>
                <hr>
                <input type="text" class="form-control" v-model="node">
                <br><br>
                <button class="btn btn-primary" @click="fetchData">Get Data</button>
                <br><br>
                <ul class="list-group">
                    <li class="list-group-item" v-for="u in users" :key="u.username">
                        {{ u.username }}
                    </li>
                </ul>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                user: {
                    username: '',
                    email: ''
                },
                users: [],
                resource: {},
                node: 'data'
            }
        },
        methods: {
            submit() {
                /*
                console.log(this.user);
                //added by vueresource, posted data or distinct collection, and json as format on firebase url
                this.$http.post('', this.user).then(response => {
                    console.log(response);
                }, error => {
                    console.log(error);
                });*/
                //vue-resource method
                //this.resource.save({}, this.user);
                this.resource.saveAlt(this.user);
                
            },
            fetchData() {
                /*
                this.$http.get('data.json').then(response => {
                
                  return response.json();
                    
                }).then(data => {
                    console.log(data);
                    const resultArray = [];
                    for (let key in data) {
                        resultArray.push(data[key]);
                    }

                    this.users = resultArray;
                });
                */
                this.resource.getData({node: this.node}).then(response => {
                
                  return response.json();
                    
                }).then(data => {
                    console.log(data);
                    const resultArray = [];
                    for (let key in data) {
                        resultArray.push(data[key]);
                    }

                    this.users = resultArray;
                });
            }
        },
        created() {
            const customActions = {
                saveAlt: {method: 'POST', url: 'alternative.json'},
                getData: {method: 'GET'}
            };
            //$resource comes from vue-resource
            //data.json is the name resource we are going to get
            this.resource = this.$resource('{node}.json', {}, customActions);
        }
    }
</script>

<style>
</style>
