<template>
    <div>
        <h1>The User Page</h1>
        <hr>
        <button @click="navigateToHome" class="btn btn-primary">Go to home</button>
        <hr>
        <router-view></router-view>
    </div>
    

</template>
<script>
    export default {
         data() {
                return {
                    
                }
            },
        methods: {
            navigateToHome() {
                //call to router service,
                //this.$router.push('/');
                this.$router.push({ name: 'home' })
            }
        }
    }
</script>