<template>
    <div class="container">
        <app-header></app-header>
        <hr>
        <app-body></app-body>
        <hr>
        <app-footer></app-footer>
    </div>
</template>

<script>
    //locally
    import Header from './HeaderContainer.vue'
    import Body from './BodyContainer.vue'
    import Footer from './FooterContainer.vue'

    export default {
        components: {
            //Vue.component('app-header', Header);
//Vue.component('app-body', Body);
//Vue.component('app-footer', Footer);
            'app-header' : Header,
            'app-body' : Body,
            'app-footer' : Footer
        }
    }

</script>

<style>

</style>
