<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Filters & Mixins</h1>
                <!-- Exercise 1) -->
                <!-- Build a local Filter which reverses the Text it is applied on -->
                <input type="text" v-model="reversedText">
                <p>Reversed text : {{ reversedText | reverseString }}</p>
                <!-- Exercise 2 -->
                <!-- Build a global Filter which counts the length of a word and it appends it -->
                <!-- Like this: "Test" => Gets Filtered to => "Test (4)" -->
                <div>
                    <input type="text" v-model="countedString">
                    <p>counted string: {{ countedString | to-counted-string }}</p>
                </div>
                <!-- Exercise 3 -->
                <!-- Do the same as in Exercises 1 & 2, now with Computed Properties -->
                <div>
                    <p>Computed Properties</p>
                    <p>
                        <input type="text" v-model="reversedFromComputed">
                        <p>Reversed text : {{ reversedComputed }}</p>
                    </p>
                    <p>
                        <input type="text" v-model="countedFromComputed">
                        <p>counted string: {{ countedComputed }}</p>
                    </p>
                </div>
                <!-- Exercise 4 -->
                <!-- Share the Computed Property rebuilding Exercise 2 via a Mixin -->
                <div> 
                    <p>From mixin: </p>
                    <input type="text" v-model="countedStringMixin">
                    <p>counted string: {{ countedComputedFromMixin }}</p>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import { mixinFile } from './mixinFile';

    export default {
        mixins: [mixinFile],
        data() {
            return {
                reversedText: '',
                countedString: '',
                reversedFromComputed: '',
                countedFromComputed: ''
            }
        },
        filters: {
            //value to transform
            reverseString(value) {
                return value.split("").reverse().join("");;
            }
        },
        computed: {
            reversedComputed() {
                return this.reversedFromComputed.split("").reverse().join("");
            },
            countedComputed() {
                let stringlength = this.countedFromComputed.length;
                return stringlength !== 0 ? `${this.countedFromComputed}  (${stringlength})` : '';
            }
        },
    }
</script>

<style>
</style>
