<template>
    <div class="col-xs-12 col-sm-6">
        <ul class="list-group">
            <li
                    class="list-group-item"
                    v-for="server in servers">
                Server #{{ server.id }} - status : {{ server.status }}

                <button @click='selectServer(server)'>Select this server</button>
            </li>
        </ul>
    </div>
</template>

<script>
import {eventBus} from '../../main.js';
export default {
	data: function()
		{
			return {
			servers: [
			{ id: 1, status: 'Normal'},
			{ id: 2, status: 'Unkown'},
			{ id: 3, status: 'Test'},
			{ id: 4, status: 'Hello'},
			{ id: 5, status: 'Unkown'},
			],
			selectedServer: {}
			}
		},
	methods:
		{
		selectServer(server) {
			this.selectedServer = server;
			console.log(this.selectedServer);
			//this.$emit('changeServer', this.selectedServer);
			eventBus.$emit('changeServer', this.selectedServer);
		}
	}
}
</script>

<style>

</style>
