<template>
    <div class="col-xs-12 col-sm-6">
        <p>Server Details are currently not updated</p>
        <button @click="changeStatus">Change status servers</button>
        <p> {{ myServer.id }}</p>
        <p> {{ myServer.status }}</p>
    </div>

</template>

<script>
import {eventBus} from '../../main.js';
export default {
		props: ['myServer'],
		methods: {
			changeStatus() {
				this.myServer.status = 'Changed';
			}
		},
		created() {
			eventBus.$on('changeServer', (data) => {
				console.log('data recieved', data);
				this.myServer = data;
			});
		}
	}
	
</script>

<style>

</style>
