<template>
    <div class="container">
        <form v-if="!isSubmitted">
            <div class="row">
                <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                    <!-- Exercise 1 -->
                    <!-- Create a Signup Form where you retrieve the following Information -->
                    <!-- Full Name (First Name + Last Name) -->
                    <!-- Mail -->
                    <!-- Password -->
                    <!-- Store Data? Yes/No -->
                        <div class="form-group">
                            <label for="email">Email</label>
                            <input type="text" id="email" class="form-control" v-model="user.email">
                        </div>
                        <div>
                            <app-user :user="user"></app-user>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <input id="password" class="form-control" v-model="user.password" type="password">
                        </div>
                        <div class="form-group">
                            <label for="male"> Do you want to store Data?
                            <input
                                    type="radio"
                                    id="Yes"
                                    value="Yes"
                                    v-model="storeData">Yes
                            </label>
                            <label for="female">
                                <input
                                        type="radio"
                                        id="No"
                                        value="No"
                                        v-model="storeData">No
                            </label>
                        </div>
                        <button class="btn btn-primary" @click.prevent="submitted()">Submit Data</button>
                    <!-- Exercise 2 -->
                    <!-- Only display the Form if it has NOT been submitted -->
                    <!-- Display the Data Summary ONCE the Form HAS been submitted -->

                    <!-- Exercise 3 -->
                    <!-- Edit the Example from above and create a custom "Full Name" Control -->
                    <!-- which still holds the First Name and Last Name Input Field -->
                </div>
            </div>
        </form>
        <hr>
        <div class="row" v-if="isSubmitted">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h4>Your Data</h4>
                    </div>
                    <div class="panel-body">
                        <p>Full Name: {{ user.name}} - {{ user.lastName }}</p>
                        <p>Mail: {{ user.email }}</p>
                        <p>Password: {{ user.password }}</p>
                        <p>Store in Database?: {{ user.storeData }}</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    import Name from './UserNameForm.vue';
    export default {
        data() {
            return {
                user: {
                    email: '',
                    name: '',
                    lastName: '',
                    password: '',
                    storeData: 'Yes',
                    
                },
                isSubmitted: false
            }
        },
        components: {
            appUser: Name
        },
        methods: {
            submitted() {
                console.log('cucu');
                this.isSubmitted = true;
            }
        }
            
    }
</script>

<style>
</style>
