<template>
<div>
    <div class="form-group">
        <label for="name">Name</label>
        <input type="text" id="name" class="form-control" :value="user.name" @input="user.name = $event.target.value" >
    </div>
    <div class="form-group">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" class="form-control" :value="user.lastName" @input="user.lastName = $event.target.value" >
    </div>
</div>
</template>
<script>
    export default {
        props: ['user']
    }
</script>
