<template>
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Built in Directives</h1>
                <p v-text="'Some Text'"></p>
                <p v-html="'<strong>Some strong text</strong>'"></p>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
                <h1>Custom Directives</h1>
                <p v-highlight:background.delayed="'red'">Color this</p>
                <p v-local-highlight:background.delayed.blink="{ mainColor: 'red', secondColor: 'green', delay: 500 }">Color this</p>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        //local directive
        directives: {
            'local-highlight' : {
                bind(el, binding, vnode) {
                    var delay = 0;
                    if (binding.modifiers['delayed']) {
                    delay = 3000;
                    }
                    //add new modifier to blink
                    if (binding.modifiers['blink']) {
                        //pass color from directive parameter
                        let mainColor = binding.value.mainColor;
                        let secondColor = binding.value.secondColor;
                        let currentcolor = mainColor;
                        setTimeout(()=> {
                            setInterval(() => {
                                currentcolor == secondColor ? currentcolor = mainColor : currentcolor = secondColor;
                                if (binding.arg == 'background') {
                                    el.style.backgroundColor = currentcolor;
                                } else {
                                    el.style.color = binding.value;
                                }    
                                    
                            }, binding.value.delay);
                        }, delay);
                    } else {
                        setTimeout(()=> {
                            if (binding.arg == 'background') {
                                el.style.backgroundColor = binding.value.mainColor;
                            } else {
                                el.style.color = binding.value.mainColor;
                            }
                        }, delay);
                    }
                    
                }
            }
        }
    }
</script>

<style>

</style>
