<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Vuejs </title>
	<script type="text/javascript" src="https://unpkg.com/vue/dist/vue.js"></script>
	
</head>
<body>
	<div id="app1">
		<h1 ref="heading">{{ title }}</h1>
		<button v-on:click="show" ref="myButton">Show Paragraph</button>
		<p v-if="showParagraph">This is not always visible</p>
	</div>
</ol>
<script type="text/javascript" src="app.js"></script>
</body>
</html>